* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  h1 {
    font-size: 48px;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
  }
}

header {
  .main-nav {
    background-color: #1b1919;
    height: 50px;
    display: flex;
    align-items: center;

    .nav-list {
      display: flex;
      list-style: none;

      .nav-item {
        padding: 0 20px;

        a {
          text-decoration: none;
          color: #f8eeb4;
        }

        a.active {
          color: #a7d129;
        }
      }
    }
  }
}

main {
  width: 100%;

  .container {
    position: relative;
    top: 40px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

form {
  .input-wrapper {
    width: 100%;
    margin: 30px 0;

    title, input {
      width: 100%;
      display: block;
    }
  }
}

.btn {
  background-color: #fff;
  padding: 5px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #616f39;
  border: 1px solid;
  border-radius: 6px;

  &:hover {
    color: #a7d129;
    background-color: #1b1919;
  }
}

.not-found {
  background-color: #1b1919;
  border-radius: 20px;
  color: #f8eeb4;
  margin: 0 auto;
  padding: 40px 60px;
}
